Decide on Latency Spin Bit behavior for QUIC-LY

We are starting with Spin Bit turned off (so that it is DISABLED for all QUIC-LY connections).  This makes sense as QUIC-LY should only be used in a tightly controlled, firewalled, experimental setup where we assume more access to latency measurements from inside the experiment.  Therefore, no external estimates are needed.

If we keep this behavior, we should add a section to the specification document to this effect.

See about DISABLING the spin bit in [Section 17.4 of RFC 9000](https://www.rfc-editor.org/rfc/rfc9000.html#name-latency-spin-bit), most notably:
"When the spin bit is disabled, endpoints MAY set the spin bit to any value and MUST ignore any incoming value. It is RECOMMENDED that endpoints set the spin bit to a random value either chosen independently for each packet or chosen independently for each connection ID."